.shaft {
  position: relative;
  width: 100px;
  height: 500px;
  background-color: #c2ded5;
}

.floor-button {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.floor-button:active {
  background-color: #acacac; /* Цвет при нажатии кнопки */
}

.elevator {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #FF5733;
  transition: bottom 1s linear;
  left: 50px;
}